* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: edelsans;
    src: url(font/edelsans_regular);
}

body {
	width: 100%;
	font-family: edelsans;
	font-size: 13.333px;
}

.clearfix:after {
	content: "."; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

/*----------------------------------*/
/*---------------HEADER-------------*/
/*----------------------------------*/


header {
	width: 100%;
	min-height: 100%;
/*	height: 108px;*/
	background-color: black;
	margin-bottom: 10px;
	padding: 5px;
	overflow: auto;
}

/*---------------HEADER LOGO-------------*/

#headerLogoContainer {
	width: 300px;
	float: left;
	margin-left: 2.5%;
}

#headerLogo {
	width: 100%;
}

/*---------------HEADER NAV-------------*/


#headerNav {
	float: right;
	width: 70%;
	text-align: left;
	margin: 50px 2.5% 0 0;
	font-size: 2em;
}

ul {
	list-style: none;
/* 	display: inline-block; */
	width: 100%;
}

li {
	margin: 20px 12% 20px 0;
	display: inline-block;
	width: 125px;
	float: right;
}

#headerNav a {
	text-decoration: none;
	color: white;
	padding: 20px;
	text-align: center;


}

/*
#headerNav a:hover {
	border: solid #FFF 1px;
	background-color: white;
	color: black;
	font-weight: 600;
}
*/

li#email {
	float: right;
	margin: 0 0 0 5%;
}

/*----------------MAIN CONTAINER----------------*/

#mainContainer {
	/*height: 550px;*/
	width: 90%;
	margin: 10px auto;
	padding: 1%;
}

/*-------------------BLOCKS---------------------*/

.block {
	display: inline-block;
	position: relative;
	width: 22.5%;
	margin: 3% 1%;
}

.bigBlock {
    display: inline-block;
	position: relative;
	width: 45%;
	margin: 3% 2%;
}

.imageContainers {
	width: 100%;
}

img.thumbnails {
	width: 100%;
}

img.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

img.overlay:hover {
    opacity: 1;
}

.box-shadow {
	background:#fff;
	box-shadow:0 10px 20px #000;
	-moz-box-shadow:0 10px 20px #000;
	-webkit-box-shadow:0 10px 20px #000;
}

/*--------------------------------------------*/
/*------------------FOOTER--------------------*/
/*--------------------------------------------*/

footer {
	clear: both;
	width: 100%;
	/*min-height: 100%;*/
	height: 76px;
	background-color: black;
	margin-top: 10px;
}

/*--------------FOOTER LOGO------------------*/

#footerLogoContainer {
	width: 150px;
	float: left;
	margin-left: 20px;
}

#footerLogo {
	width: 100%;
}

/*----------------FOOTER NAV----------------*/

#footerNav {
	float: right;
	width: 40%;
	text-align: right;
	margin: 25px 5% 0 0;
	float: right;

}

ul#footerSocialMenu {
	list-style: none;
	width: 100%;
	color: white;
}

ul#footerSocialMenu li {
	margin: 0 3%;
	display: inline-block;
}

#footerSocialMenu img {
	width: 30px;
}